.dose-title 
{
    color: #7E7E7E;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    left: 71px;
    top: 50px;
    font-size: 30px;
    transition: color ease-in 0.3s; 
}

.dose-title:hover
{
    color: #252525;
}

#first-page
{
    background-color: #202020;
    position: static;
    
}

#title 
{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #202020;
    position: absolute;
    top: 249px;
    margin-left: 71px;    
}

#stinger 
{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    color: #515151;
    position: absolute;
    top: 355px;
    margin-left: 350px;
    object-position: 35% 100%;
}

#xii-subtitle
{
    font-family: 'Open Sans';
    font-size: 15px;
    color: #6A6A6A;
    position: relative;
    top: 450px;
    left: 71px;
}

#tnalak-img-container 
{
    position: absolute;
    top: 0px;
    right: 0px; 
}

#tnalak-img
{
    position: relative;
    right: 0px;
    object-fit: cover;
    width: 461px; 
    height: 589px;
}

/* this is an animation*/

#tnalak-container #tnalak-hover-container:hover
{
    opacity: 100%;
}

#tnalak-hover-container
{
    width: 461px; 
    height: 589px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0%;   
    transition: opacity ease-in 0.3s;
    background-color: #BD272C;
}

#tnalak-hover-title 
{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-align: right;
    line-height: 1;
    color: #ffffff;                    
    position: relative;
    padding-top: 180px;
    padding-left: 25px;
    padding-right: 25px;
}

#tnalak-hover-subtitle 
{
    font-family: 'Open sans';
    font-style: bold;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
    position: relative;     
    padding-top: 0px;
    padding-right: 25px; 
}

#second-page 
{
    background-color: #BD272C;
    position: relative;
}