body
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.dose-title 
{
    color: #7E7E7E;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    left: 71px;
    top: 50px;
    font-size: 30px;
    transition: color ease-in 0.3s; 
}

.dose-title:hover
{
    color: #252525;
}

#first-page
{
    position: static;
    height: 581px;;
    
}

#title 
{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #202020;
    position: absolute;
    top: 249px;
    margin-left: 71px;    
}

#stinger 
{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 20px;
    color: #515151;
    position: absolute;
    top: 355px;
    margin-left: 350px;
    object-position: 35% 100%;
}

#xii-subtitle
{
    font-family: 'Open Sans';
    font-size: 15px;
    color: #6A6A6A;
    position: relative;
    top: 450px;
    left: 71px;
}

#tnalak-img-container 
{
    position: absolute;
    top: 0px;
    right: 0px; 
}

#tnalak-img
{
    position: relative;
    right: 0px;
    object-fit: cover;
    width: 461px; 
    height: 589px;
}

/* this is an animation*/

#tnalak-container #tnalak-hover-container:hover
{
    opacity: 100%;
}

#tnalak-hover-container
{
    width: 461px; 
    height: 589px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0%;   
    transition: opacity ease-in 0.3s;
    background-color: #BD272C;
}

#tnalak-hover-title 
{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-align: right;
    line-height: 1;
    color: #ffffff;                    
    position: relative;
    padding-top: 180px;
    padding-left: 25px;
    padding-right: 25px;
}

#tnalak-hover-subtitle 
{
    font-family: 'Open sans';
    font-style: bold;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
    position: relative;     
    padding-top: 0px;
    padding-right: 25px; 
}

#second-page 
{
    background-color: #ffffff;
    position: static;
    top: 461px;
    left: 0px;
    height: auto;
}

/*image*/
.img-window
{
    object-fit: cover;
    width: 33.33%;
    height: auto;
    border: 0px;
    padding: 0px;
    display: block;
    float: left;
    position: relative;

}

.section-container 
{
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
    display: inline;
    position: relative;
}

#image-window-container
{
    text-align: center;
    margin: 0px;
    height: auto;
    width: auto;
}

.overlay
{
    position: absolute;
    left: 0px;
    width: 33.33%; 
    max-height: auto; /*might change this to auto*/
    display: inline;
    background-color:#606060a4;
    padding-top: 200px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 0px;
    opacity: 0%;
    transition: opacity ease-in 0.3s; 
    text-align: center;
    float: left;
}

#overlay-1
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; 
    height: 100%; /*might change this to auto*/
    display: inline;
    background-color:#606060a4;
    padding-top: 200px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 0px;
    opacity: 0%;
    transition: opacity ease-in 0.3s; 
    text-align: center;
    float: left;
}

.section-container #overlay-1:hover
{
    opacity: 100%;
}

/*

*/

.section-container:hover .overlay
{
    opacity: 100%;
}

.window-title
{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: #000;
    line-height: 1;
    text-align: center;
}

.window-subtitle 
{
    font-family: 'Open Sans';
    font-style: bold;
    font-size: 20px;
    color: #000;
    display: block;
    text-align: center;
}

#third-page
{
    position: static;
    top: 0px;
    margin-top: 0px;
}

#quote 
{
    margin-top: 0px;
    padding-top: 0px;
}